.HomeContainer {
    margin: 0 auto;
    max-width: 1900px;
    
}

.LogReg_container {
    margin: 0 auto;
    display: flex;
    width: 100%;
  
}

.RightSubContainer {
    padding-top:37px;
    width:100%;
    padding-right: 142px;
}

.mainUl a {
    text-decoration: none;
    color: black;
}