.summary__section {
  background-image: none;
  height: auto;
  padding-top: 30px;
  padding-bottom: 50px;
  @media (min-width: 1024px) {
    height: 550px;
    background-image: url("../../assets/images/Background-Form.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (min-width: 1800px) {
    height: 800px;
  }
}

.summary__form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-left: 142px;
  font-size: 18px;
  font-family: $font-base-light;
  line-height: 1.33;
  h3 {
    font-family: $font-base-semi;
    margin-bottom: 15px;
    font-size: 26px;
    @media (min-width: 1024px) {
      font-size: 30px;
    }
    @media (min-width: 1800px) {
      font-size: 36px;
    }
  }
  h4 {
    font-family: $font-base-semi;
    margin-bottom: 20px;
  }
  @media (max-width: 1024px) {
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }
  @media (max-width: 1800px) {
    font-size: 24px;
  }
}

.summary__column {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  width: 392px;
  @media (max-width: 1024px) {
    width: auto;
  }
}

.summary__wrapper {
  display: flex;
  width: 650px;
  justify-content: space-between;
  @media (max-width: 1024px) {
    display: block;
    width: auto;
  }
  @media (min-width: 1600px) {
    width: 900px;
  }
}

.summary__input-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.summary__label {
  max-width: 150px;
  margin-bottom: 25px;
  font-size: 18px;
  @media (min-width: 1024px) {
    font-size: 20px;
  }
  @media (min-width: 1800px) {
    font-size: 24px;
  }
}

.summary__description {
  margin-bottom: 25px;
  max-width: 250px;
  font-size: 18px;
  @media (min-width: 1024px) {
    font-size: 20px;
    max-width: 600px;
  }
  @media (min-width: 1800px) {
    font-size: 24px;
  }
}

.shirt-icon {
  background-image: url("../../assets/Icons/IconShirt.png");
  min-width: 45px;
  min-height: 45px;
  display: inline-block;
  background-position: center;
  margin: 10px;
}

.circle-icon {
  background-image: url("../../assets/Icons/IconCircle.png");
  width: 45px;
  height: 45px;
  display: inline-block;
  background-position: center;
  margin: 10px;
}
.summary-brief__details {
  display: flex;
  align-items: center;
  max-width: 1000px;
  font-size: 18px;
  @media (min-width: 1024px) {
    font-size: 20px;
    max-width: 600px;
  }
  @media (min-width: 1800px) {
    font-size: 24px;
  }
}

.summary-brief__title {
  font-family: $font-base-semi;
  margin-bottom: 10px;
}

.summary__button-container {
  @media (max-width: 1024px) {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: -10px;
  }
}
