.posts {
    max-width: 1344px;
    margin: 0 auto;
    padding-top: 50px;
    font-family: $font-base-light;
    @media(max-width: 1024px){
        display: none;
    }
}

.post-line {
    height: 81px;
    margin-top: 17px;
    margin-bottom: 17px;
    width: 100%;
    border-bottom: 0.75px solid #3C3C3C; 
    display: flex;
    justify-content: space-between;
}
.post-line:last-child {
    border-bottom: transparent;
}

.post-line__title {
    
    font-size: 26px;
    line-height: 1.2;
}

.post-line__body {
    font-size: 18px;
    line-height: 1.22;
}

.post-line__tag {
    font-size: 18px;

}