
@font-face {
    font-family: 'merriweatherblack';
    src: url('./merriweather/merriweather-black-webfont.woff2') format('woff2'),
         url('./merriweather/merriweather-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherblack_italic';
    src: url('./merriweather/merriweather-blackitalic-webfont.woff2') format('woff2'),
         url('./merriweather/merriweather-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherbold';
    src: url('./merriweather/merriweather-bold-webfont.woff2') format('woff2'),
         url('./merriweather/merriweather-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherbold_italic';
    src: url('./merriweather/merriweather-bolditalic-webfont.woff2') format('woff2'),
         url('./merriweather/merriweather-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatheritalic';
    src: url('./merriweather/merriweather-italic-webfont.woff2') format('woff2'),
         url('./merriweather/merriweather-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherlight';
    src: url('./merriweather/merriweather-light-webfont.woff2') format('woff2'),
         url('./merriweather/merriweather-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherlight_italic';
    src: url('./merriweather/merriweather-lightitalic-webfont.woff2') format('woff2'),
         url('./merriweather/merriweather-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherregular';
    src: url('./merriweather/merriweather-regular-webfont.woff2') format('woff2'),
         url('./merriweather/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold';
    src: url('./open_sans/opensans-bold-webfont.woff2') format('woff2'),
         url('./open_sans/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold_italic';
    src: url('./open_sans/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('./open_sans/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold';
    src: url('./open_sans/opensans-extrabold-webfont.woff2') format('woff2'),
         url('./open_sans/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('./open_sans/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('./open_sans/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansitalic';
    src: url('./open_sans/opensans-italic-webfont.woff2') format('woff2'),
         url('./open_sans/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('./open_sans/opensans-light-webfont.woff2') format('woff2'),
         url('./open_sans/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight_italic';
    src: url('./open_sans/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('./open_sans/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('./open_sans/opensans-regular-webfont.woff2') format('woff2'),
         url('./open_sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('./open_sans/opensans-semibold-webfont.woff2') format('woff2'),
         url('./open_sans/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('./open_sans/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('./open_sans/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}