.GiveContainer {
    margin: 0 auto;
    max-width: 1900px;
    
}

.Give_MainSec_container {
    margin: 0 auto;
    display: flex;
    height: 956px;
    @media(max-width: 1024px) {
        height: auto;

    }
}

.GiveRightSubContainer {
    width:55%;
    padding-right: 142px;
    @media (max-width: 1024px) {
        width:100%;
        padding-right: 0px;

    }
}

.GiveMainPic {
    @media(min-width: 1024px) {
        height: auto;
        width: 45%;
        background-image: url('../../assets/images/Form-Hero-Image.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: right;
    }

}

