.GiveContainer {
    margin: 0 auto;
    max-width: 1900px;
    
}

.Give_MainSec_container {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 853x;
}

.GiveRightSubContainer {
    padding-top:37px;
    width:100%;
    padding-right: 142px;
  
    
}

.GiveMainPic {
    height: 853px;
    min-width: 885px;
    background-image: url('../../assets/images/Form-Hero-Image.jpg');
    background-size: cover;
    
    background-repeat: no-repeat;
}