@import '../../assets/fonts/fonts.scss';


$font-base: 'open_sansregular';
$font-base-light: 'open_sanslight';
$font-base-semi: 'open_sanssemibold';
$font-base-bold:'open_sansbold';
$font-alt: 'merriweatherregular';
$font-alt-light: 'merriweatherlight';