@mixin button_mixin {
        height: 120px;
        width: 310px;
        margin: 20px;
        background: transparent;
        border-style: solid;
        border: 0.75px solid #3C3C3C;
        box-shadow: none;
        font-size: 36px;
        font-family: $font-base-light;
        cursor: pointer;
}

@mixin decoration_mixin {
        margin: 0 auto;
        height: 33px;
        width: 253px;
        background: transparent url('../../assets/images/Decoration.svg') 0% 0% no-repeat padding-box;
}

@mixin buttonsFdwRev {
        width: 180px;
        height: 79px;
        border: 1px solid#3C3C3C;
        background: transparent;
        font-size: 24px;
        font-family: $font-base-light;
        cursor: pointer;
}