.HomeMainSec {
    height: 831px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainSecContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;;  

}

.decorationElement {
    height: 33px;
    width: 253px;
    background: transparent url('../../assets/images/Decoration.svg') 0% 0% no-repeat padding-box;
}
.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    button {

            background: transparent;
            border: none;
            margin: 20px;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 120px;
            width: 310px; 
            text-align: center;
            font-size: 36px;
            font-family: $font-base-light;
            cursor: pointer;
            color:  #3C3C3C;
            border: 0.75px solid  #3C3C3C;
            text-decoration: none;
        }
    }
}

.callToAction {
display: flex;
  text-align: center;
  font-size: 38px;
  line-height: 55px;
  letter-spacing: -0.76px;
}
