.home-main-sec {
    width: 100%;
    height: 831px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width: 1024px) {
        height: 100vh;
    }
}

.home-main-sec__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 1024px) {
        background-color: $color-mobile-bg;
        height: 70vh;
    }
}

.home-main-sec__decoration-element{
    @media(min-width: 1024px) {
        height: 33px;
        width: 253px;
        background: transparent url('../../assets/images/Decoration.svg') 0% 0% no-repeat padding-box;
    }
}

.home-main-sec__button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 1024px) {
        width: 100%
    }
}


.home-main-sec__button {
    margin: 15px;
    background: transparent;
    border: none;
    @media(max-width: 1465px) {
        margin: 30px auto
    }
}    
    
.home-main-sec__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 310px; 
    text-align: center;
    font-size: 36px;
    font-family: $font-base-light;
    cursor: pointer;
    color:  #3C3C3C;
    border: 0.75px solid  #3C3C3C;
    text-decoration: none; 
    @media(max-width: 1024px) {
        height: 40px;
        width: 110px;
        border-radius: 4px;
        font-size: 12px;
        background-color: $color-blue;
        color: white;
        font-family: $font-base-bold;
        border: transparent;  
    }
    @media(min-width: 575px) {
        height: 60px;
        width: 160px;
        font-size: 18px
    }
    @media(min-width: 768px) {
        height: 80px;
        width: 220px;
        font-size: 24px

    }
}

.home-main-sec__call-to-action {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 36px;
    line-height: 55px;
    letter-spacing: -0.76px;
    @media(max-width: 1024px) {
        margin-top:10px;
        color: $color-blue;
        font-size: 18px;
        line-height: 26px;
        font-family: $font-base-bold;
    }
    @media(min-width: 575px) {
        font-size: 28px;
        line-height: 38px
    }
    @media(min-width: 768px) {
        font-size: 34px;
        line-height: 42px
    }
}

.home-scores {
    display: none;
    @media(max-width: 1024px) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.home-scores__field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    @media(min-width: 768px) {
        margin: 25px
    }
}

.home-scores__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid $color-blue;
    color: $color-blue;
    font-size: 24px;
    font-family: $font-base-bold;
    background-color: white;
    @media(min-width: 575px) {
        width: 150px;
        height: 150px;
        font-size: 28px;
    }
    @media(min-width: 768px) {
        width: 200px;
        height: 200px;
        font-size: 36px
    }
}

.home-score__text {
    font-family: $font-base-bold;
    text-align: center;
    max-width: 100px;
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
    @media(min-width: 575px) {
        max-width: 150px;
        font-size: 18px;
        line-height: 22px;
    }
    @media(min-width: 768px) {
        max-width: 220px;
        font-size: 24px;
        line-height: 26px
    }
}
