.HomeHeader {
    height: 95px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    
}

.navigation li {
    display: inline-block;
}

.navigation li > a{
    display: block;
   
    cursor: pointer;
    padding: 9px 20px;
}



.mainUl li{
font-size: 18px;
border: 0.75px solid transparent;
justify-content: center;



    &:hover {
        border: 0.75px solid #3C3C3C;
    }

}

