.home-about {
  display: flex;
  @media (max-width: 1024px) {
    display: none;
  }
}

.home-about__picture {
  background-image: url("../../assets/images/People.jpg");
  height: 935px;
  width: 50%;
  background-size: cover;
  background-position: center;
  @media (max-width: 1590px) {
    background-image: url("../../assets/images/min-People.jpg");
    height: auto;
  }
}

.home-about__container {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.home-about__decoration {
  @include decoration_mixin;
  margin-top: 15px;
  margin-bottom: 15px;
}

.home-about__title {
  font-size: 32px;
  line-height: 1.5;
  @media (min-width: 1800px) {
    font-size: 36px;
  }
}

.home-about__description {
  font-size: 26px;
  letter-spacing: -0.6px;
  line-height: 1.6;
  max-width: 657px;
  @media (min-width: 1800px) {
    font-size: 30px;
    line-height: 1.8;
  }
}

.home-about__signature {
  height: 148px;
  width: 100%;
  margin-top: 20px;
  background-image: url("../../assets/images/Signature.svg");
  background-repeat: no-repeat;
  background-position: right;
}
