.step-three__section {
    height: 883px;
    background-image: url('../../assets/images/Background-Form.jpg');
    padding-bottom: 50px;
    padding-top: 50px;
    @media(max-width: 1024px) {
        height: auto;
       
    }
}

.step-three__form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-left: 142px;
    @media (max-width: 1024px) {
        margin-left: 0px;
        padding-left: 10px;
  
    }
}


.step-three__title {
    font-size: 36px;
    font-family: $font-base-semi;
    line-height: 1.25;
    @media(max-width: 1024px){
        font-size:22px;
    }
}

.step-counter {
    font-size: 24px;
    font-family: $font-base-light;
}

.step-three__select {
    font-size:24px;
    width: 260px;
    height: 49px;
    border: 1px solid#3C3C3C;
    display: flex;
    padding-left:40px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-top: -60px;
    @media(max-width: 1024px) {
        width: 140px;
        height: 35px;
        font-size: 18px;
        background-color: white;
        padding: 0px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }  
}

.step-three__list {
    width: 290px;
    border: 1px solid #3C3C3C;
    font-family: $font-base-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5px;
    position: absolute;
    top:3px;
    background-color:#E8E9E4;
    @media(max-width: 1024px) {
        top: 60px;
        background-color: white;
        width: 160px;
    
    }
}
.step-three__container {
    position: relative;
}

.step-three__list-element {
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 260px;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
    @media (max-width: 1024px) {
        font-size: 18px;
        width: 160px;
    }
}

.step-three__list-element:hover {
    background-color:#3C3C3C;;
    color:white;
}

.arrow-icon {
    height: 26px;
    width: 57px;
}

.step-three__subtitle {
    font-family: $font-base-semi;
    font-size: 24px;
    @media(max-width: 1024px) {
        font-size:18px;
    }
}

.choose-reciever__list {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    @media (max-width: 1024px) {
        width: 100%;
    }
}

.choose-reciever__list-element {
    border:1px solid #3C3C3C;
    font-family: $font-base-light;
    font-size: 24px;
    padding:15px;
    margin: 10px 20px 10px 0px;
    cursor: pointer;
    user-select: none;
    @media (max-width: 1024px) {
        background: white;
        border-radius: 20px;
        font-size: 18px;
        font-weight: bolder;
        padding: 10px
    }
}

.step-three__text-input {
    margin-top: 20px;
    height: 40px;
    width: 570px;
    border:1px solid #3C3C3C;
    background-color: transparent;
    font-size: 24px;
    font-family: $font-base-light;
    padding-left: 10px;
    @media(max-width: 1024px) {
        width: 250px;
    }
}
