.step-three__section {
  background-image: none;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  @media (min-width: 1024px) {
    height: 550px;
    background-image: url("../../assets/images/Background-Form.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (min-width: 1800px) {
    height: 800px;
  }
}

.step-three__form {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-left: 142px;
  @media (max-width: 1024px) {
    margin-left: 0px;
    padding-left: 10px;
  }
}

.step-three__title {
  font-size: 32px;
  font-family: $font-base-semi;
  line-height: 1.25;
  @media (max-width: 1024px) {
    font-size: 22px;
  }
  @media (min-width: 1800px) {
    font-size: 34px;
  }
}

.step-counter {
  font-size: 24px;
  font-family: $font-base-light;
}

.step-three__select {
  border: 1px solid#3C3C3C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  cursor: pointer;
  position: relative;
  width: 140px;
  height: 35px;
  padding: 0px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  @media (min-width: 1024px) {
    background-color: transparent;
    width: 180px;
    justify-content: space-between;
    padding-left: 20px;
  }
  @media (min-width: 1800px) {
    width: 260px;
    height: 49px;
    font-size: 24px;
    padding-left: 40px;
    margin-top: -60px;
  }
}

.step-three__list {
  width: 180px;
  border: 1px solid #3c3c3c;
  font-family: $font-base-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  position: absolute;
  top: 65px;
  background-color: #e8e9e4;
  @media (max-width: 1024px) {
    top: 60px;
    background-color: white;
  }
  @media (min-width: 1800px) {
    top: 3px;
    width: 290px;
  }
}

.step-three__container {
  position: relative;
}

.step-three__button-container {
  @media (max-width: 1024px) {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: -10px;
  }
}

.step-three__list-element {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  width: 95%;
  @media (max-width: 1024px) {
    font-size: 18px;
    width: 160px;
  }
  @media (min-width: 1800px) {
    padding-left: 10px;
    width: 260px;
    font-size: 24px;
    text-align: left;
  }
}

.step-three__list-element:hover {
  background-color: #3c3c3c;
  color: white;
}

.step-three__subtitle {
  font-family: $font-base-semi;
  font-size: 20px;
  @media (max-width: 1024px) {
    font-size: 18px;
    margin-top: 10px;
  }
  @media (min-width: 1800px) {
    font-size: 24px;
  }
}

.choose-reciever__list {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  @media (max-width: 1024px) {
    width: 100%;
  }
}

.choose-reciever__list-element {
  border: 1px solid #3c3c3c;
  font-family: $font-base-light;
  font-size: 20px;
  padding: 10px;
  margin: 10px 15px 10px 0px;
  cursor: pointer;
  user-select: none;
  @media (max-width: 1024px) {
    background: white;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px;
  }
  @media (min-width: 1800px) {
    font-size: 24px;
    padding: 15px;
    margin: 10px 20px 10px 0px;
  }
}

.step-three__text-input {
  margin-top: 20px;
  height: 36px;
  width: 500px;
  border: 1px solid #3c3c3c;
  background-color: transparent;
  font-size: 18px;
  font-family: $font-base-light;
  padding-left: 10px;
  @media (max-width: 1024px) {
    width: 80%;
  }
  @media (min-width: 1800px) {
    height: 40px;
    width: 570px;
    font-size: 24px;
  }
}
