.home-contact {
    display: flex;
    padding-top: 20px;
    position: relative;
}

.home-contact__decoration{
    @include decoration_mixin;
    margin-bottom: 30px;
}

.home-contact__picture{
    width: 60%;
    height: 950px;
    background-image: url('../../assets/images/Background-Contact-Form.jpg');
    background-size: cover;
    opacity: 0.3;
   
    @media(max-width: 1150px) {
        display: none;
    } 
    @media (max-width: 1590px) {
        background-image: url('../../assets/images/min-Background-Contact-Form.jpg');
        height: auto;
    }
}

.home-contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:20px;
    padding-bottom: 100px;
    @media(max-width: 1024px) {
        display: none
    }
    @media(max-width:1590px) {
        margin: 0 auto
    }
}

.home-contact__title {
    font-size: 38px;
    line-height: 1.44;
    margin-bottom: 20px;
}

.home-contact_success {
    color:#4F8A10;
    font-family:$font-base-semi;
    line-height: 1.5;
    opacity: 0;
    }

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: $font-base-semi
}

.contact-form__input-group{
    display: flex;  
}

.contact-form__input-subgroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.contact-form__input {
    width: 256px;
    height: 25px;
    border: 0px transparent;
    border-bottom: 1px solid black;
}

.contact-form__input--name {
    margin-right: 20px;
}

.contact-form__label {
    margin-bottom: 20px;
}

.contact-form__label--textarea {
    margin-bottom: 20px;
}

.contact-form__input--name {
    margin-right: 20px;
}

.contact-form__textarea-group {
    width: 98%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-form__textarea {
    width: 100%;
    border: 0px transparent;
    border-bottom: 1px solid black;
    resize: none;
    height: 97px;
}

.contact-form__button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end; 
}

.contact-form__submit {
    height: 50px;
    width: 150px;
    margin-top:40px;
    background: transparent;
    border-style: solid;
    border: 0.75px solid #3C3C3C;
    box-shadow: none;
    font-size: 18px;
    font-family: $font-base-light;
}

.contact-form__error{
    color: #D8000C;
    font-size:12px;
    margin-top:3px;
    opacity: 0;
}

.home-contact-min {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    @media(min-width: 1024px) {
        display: none;
    }
}

.home-contact-min__title {
    margin: 20px 30px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.3;
    @media(max-width: 575px) {
        font-size: 20px
    }
    @media(max-width: 768px) {
        font-size: 26px
    }
}

.home-contact-min__footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 60px; 
    background-color: $color-blue;
}

.home-contact-min__button {
    margin: 15px;
    background: transparent;
    border: none;
    @media(max-width: 1465px) {
        margin: 30px auto
    }
}    
    
.home-contact-min__button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none; 
    @media(max-width: 1024px) {
        height: 40px;
        width: 110px;
        border-radius: 4px;
        font-size: 12px;
        background-color: $color-blue;
        color: white;
        font-family: $font-base-bold;
        border: transparent;  
    }
    @media(min-width: 575px) {
        height: 60px;
        width: 160px;
        font-size: 18px
    }
    @media(min-width: 768px) {
        height: 80px;
        width: 220px;
        font-size: 24px
    }
}

.home-contact-min__icon {
    background-image: url('../../assets/images/u5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    margin-bottom: 20px;
    margin-left: 20px;
}

.home-contact-min__call-to-action {
    margin-left: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: bold;
}

.home-contact-min__contact-links {
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.home-contact-min__paragraph {
    margin-bottom: 5px;
    font-size: 14px;
}

.home-contact-min__link {
    text-decoration: none;
    color: $color-dark-gray;
    font-weight: bold;
}

.home-contact-min__fontawesome-icon {
    margin-left:10px
}