.ribbon__container {
   height: 180px;
   background-color: #FAD648;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 142px;
   @media(max-width:1024px) {
        padding: 5px;
       background-color: $color-blue;
       color: white;
   }

}

.ribbon__title {
    font-family: $font-base-semi;
    font-size: 36px;
    line-height: 1.22;
    margin-bottom: 5px;
    @media(max-width:1024px) {
        font-size: 32px
    }
}

.ribbon__text {
    font-size:22px;
    line-height: 1.22;
    @media(max-width: 1024px) {
        font-size: 18px;
        width: 100%;
    }
}

.ribbon__icon {
    font-size: 80px;
    margin:15px;
    @media(min-width: 1024px) {
        display: none;
    }
}

