.home-container {
    margin: 0 auto;
    max-width: 1900px;  
    @media(max-width:1024px) {
        width: 100vw;
    }
}

.header-main-sec-container {
    margin: 0 auto;
    display: flex;
    width: 100%;    
}

.header-main-sec-container__subcontiner {
    
    padding-right: 142px;
    width: 55%;
    @media(max-width:1024px) {
        width: 100%;
        padding-right: 0px;
      
    }
}

.header-main-sec-container__picture {
    @media(min-width: 1024px) {
        height: 963px;
        width: 45%;
        background-image: url('../../assets/images/Home-Hero-Image.jpg');
        background-position: cover;
        background-position-x: -473px;  
    }
    @media(min-width:1590px){
        background-size: cover;
        background-position: center;
        height: auto;
    } 
}

 
