.home-container {
    margin: 0 auto;
    max-width: 1900px;  
}

.header-main-sec-container {
    margin: 0 auto;
    display: flex;
    height: 963px; 
}

.header-main-sec-container__subcontiner {
   
    padding-right: 142px;
    width: 55%;
}

.header-main-sec-container__picture {
    @media(min-width: 1024px) {
        height: 963px;
        width: 45%;
        background-image: url('../../assets/images/Home-Hero-Image.jpg');
        background-position: cover;
        background-position-x: -473px;  
    }
  
}

 
