
.ThankYouSec {
    height: 883px;
    background-image: url('../../assets/images/Background-Form.jpg');
    padding-bottom: 50px;
    padding-top: 50px  
}
.ThankYouContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin-left: 142px;
    margin-top:-40px;
    font-size: 24px;
    font-family: $font-base-light;
    line-height: 1.33;
    p {
        max-width: 638px;
        font-family: $font-base-light;
        font-size:40px;
        text-align: center;
        margin-bottom:40px;
        letter-spacing: -0.8px;
    }
}

.ThankYoDecoration {
    
    @include decoration_mixin;
}

