.thank-you__section {
        background-image: none;
        height: auto;
        padding-top:50px;
        padding-bottom:  50px;
        @media(min-width: 1024px) {
            height: 550px;
            background-image: url('../../assets/images/Background-Form.jpg');
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        @media(min-width: 1800px) {
            height: 800px;
        }   
}

.thank-you__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin-top:-40px;
    font-size: 24px;
    font-family: $font-base-light;
    line-height: 1.33;
    p {
        max-width: 638px;
        font-family: $font-base-light;
        font-size: 34px;
        text-align: center;
        margin-bottom:40px;
        letter-spacing: -0.8px;
        @media (max-width: 1024px) {
            font-size: 24px
        }
        @media(min-width: 1800px) {
            font-size:40px;
        }
    }
    @media (max-width: 1024px) {
        width: auto;
        margin-left: 0px;
        padding-right: 10px;
        padding-left:10px;
    }
}

.thank-you__decoration {
    @include decoration_mixin;
}

