@import ' ../../../../node_modules/reset-css/sass/reset';
@import '../../src/scss/settings/colors';
@import '../../src/scss/settings/fonts';
@import '../../src/scss/settings/mixins';
@import '../../src/components/HomeContainer/HomeContainer.scss';
@import '../../src/components/HomeMainPic/HomeMainPic.scss';
@import '../../src/components/HomeMainSec/HomeMainSec.scss';
@import '../../src/components/HomeHeader/HomeHeader.scss';
@import '../../src/components/HomeThreeCol/HomeThreeCol.scss';
@import '../../src/components/HomeFourSteps/HomeFourSteps.scss';
@import '../../src/components/HomeAbout/HomeAbout.scss';
@import '../../src/components/HomeHelp/HomeHelp.scss';
@import '../../src/components/HomeHelp/posts.scss';
@import '../../src/components//HomeHelp/pagination.scss';

body {
    font-family: $font-base;
    color:  #3C3C3C;
}

.test {
    
    background-color: blue;
    height: 2000px;
    widows: 100%;
};

