.step-two__section {
    height: 883px;
    background-image: url('../../assets/images/Background-Form.jpg');
    padding-bottom: 50px;
    padding-top: 50px;
    @media(max-width: 1024px) {
        padding-top: 20px;
        height: auto;
    }
}

.step-two__form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-left: 142px;
    @media(max-width: 1024px) {
        margin-left: 0px;
        padding-left: 10px ;
        padding-right: 10px;
    }
}

.step-two__title{
    font-size: 36px;
    font-family: $font-base-semi;
    line-height: 1.25;
    position: absolute;
    padding-top: 200px;
    @media (max-width: 1024px) {
        position: relative;
        font-size: 22px;
        padding-top: 0px;       
    }
}

.step-counter {
    font-size: 24px;
    font-family: $font-base-light;
}

.step-two_button-container {
    @media (max-width: 1024px) {
        display: flex;
        justify-content: space-around; 
    }
}

.fwd-button, .rev-button {
   @include buttonsFdwRev;
   @include buttonsFwdRev-min;
}

.rev-button {
    margin-right: 50px;
}

.step-two__select-group{
    position: absolute;
    padding-top: 300px;
    display: flex;
    width: 800px; 
    @media(max-width: 1024px) {
        position: relative;
        padding-top: 0px;
        width: 100%;
    }
}

.step-two__bag-label {
    font-size:33px;
    font-family: $font-base-light;
    display: flex;
    align-items: center;
    position: absolute;
    @media(max-width: 1024px) {
        position: relative;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 50px    
    }
}

.step-two__select-action {
    font-size:24px;
    margin-left: 30px;
    width: 260px;
    height: 49px;
    border: 1px solid#3C3C3C;
    display: flex;
    padding-left:40px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    @media(max-width: 1024px) {
        width: 120px;
        height: 35px;
        font-size: 18px;
        padding-left: 0px;
        display: flex;
        justify-content: center;
        background-color: white;
    }
}

.step-two__list {
    width: 50px;
    font-size: 33px;
    border: 1px solid #3C3C3C;
    font-family: $font-base-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5px;
    position: relative;
    left:547px;
    top:60px;
    @media(max-width: 1024px) {
        font-size: 22px;
        position: absolute;
        left: 258px;
        background-color: white;
    }
}


.step-two__list-element {
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50px;
    text-align: center;
    cursor: pointer; 
    @media(max-width: 1024px) {
        font-size:18px;
    }
}

.step-two__list-element:hover {
    background-color:#3C3C3C;;
    color:white;
    width: 100%;
    text-align: center;
}

.arrow-icon {
    height: 26px;
    width: 57px;
    @media(max-width: 1024px) {
        display: none
    }
}