.step-one__section {
    height: 883px;
    background-image: url('../../assets/images/Background-Form.jpg');
    padding-bottom: 50px;
    padding-top: 50px;
    @media(max-width: 1024px) {
        background-image: none;
        height: auto;
    }
}

.step-one__form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;    
    margin-left: 142px;
    @media(max-width: 1024px) {
        margin-left: 0px;
        padding-left: 15px;
    }
}

.step-one__radio-list {
    display: flex;;
    flex-direction: column;
    text-decoration: none;
    min-width: 575px;
    min-height: 368px;
    font-size: 24px;
    font-family: $font-base-light;
    label {
        cursor: pointer;
        
    }
    @media(max-width:1024px) {
        font-size: 18px;
        font-weight: bold;
        min-width: 0px;
        line-height: 1.2;
    }
}

.step-one__radio-list-element > label{
    display: flex;
    align-items: center;  
}


[type=checkbox] {
    position: absolute;;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label:before {
    content: '';
    display: inline-block;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom:20px;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #3C3C3C;
    background: transparent;
    cursor: pointer;
    @media (max-width: 1024px) {
        min-width: 30px;
        max-width: 30px;
        height: 30px;
        margin: 15px;
      
    }
}

[type="checkbox"]:checked + label:before {
    content: '';
    display: inline-block;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom:20px;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid#3C3C3C;
    background:#FAD648;
    cursor: pointer;
    @media(max-width: 1024px) {
        background-color: $color-blue;
        min-width: 30px;
        max-width: 30px;
        height: 30px;
        margin:15px
    }
}

.step-one__title {
    font-size: 36px;
    font-family: $font-base-semi;
    line-height: 1.25;
    @media (max-width: 1024px) {
        font-size: 28px;
        margin-bottom: 30px
    }
}

.step-counter {
    font-size: 24px;
    font-family: $font-base-light;
    @media(max-width: 1024px) {
        display: none;
    }
}

.forward-button {
    @include buttonsFdwRev;
    @include buttonsFwdRev-min
    

}
