.step-one__section {
    background-image: none;
    height: auto;
    padding-top:50px;
    padding-bottom:  50px;
    @media(min-width: 1024px) {
        height: 550px;
        background-image: url('../../assets/images/Background-Form.jpg');
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    @media(min-width: 1800px) {
        height: 800px;
    }
}

.step-one__form {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;    
    margin-left: 142px;
    @media(max-width: 1024px) {
        margin-left: 0px;
        padding-left: 15px;
    }
}

.step-one__radio-list {
    display: flex;;
    flex-direction: column;
    text-decoration: none;
    min-width: 575px;
    min-height: 368px;
    font-size: 24px;
    font-family: $font-base-light;
    label {
        cursor: pointer;
        
    }
    @media(max-width:1024px) {
        font-size: 18px;
        font-weight: bold;
        min-width: 0px;
        line-height: 1.2;
    }
}

.step-one__radio-list-element > label{
    display: flex;
    align-items: center;  
}


[type=checkbox] {
    position: absolute;;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label:before {
    content: '';
    display: inline-block;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom:15px;
    position: relative;
    min-width: 30px;
    height: 30px;
    border: 1px solid #3C3C3C;
    background: transparent;
    cursor: pointer;
    @media(min-width: 1800px) {
        min-width: 40px;
        max-width: 40px;
        height: 40px;
        margin:20px
    }
}

[type="checkbox"]:checked + label:before {
    content: '';
    display: inline-block;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom:15px;
    position: relative;
    min-width: 30px;
    height: 30px;
    border: 1px solid#3C3C3C;
    background-color: $color-blue;
    cursor: pointer;
    @media(min-width: 1024px) {
        background:#FAD648;
    }
    @media(min-width: 1800px) {
        min-width: 40px;
        max-width: 40px;
        height: 40px;
        margin:20px
    }
}

.step-one__title {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: $font-base-semi;
    line-height: 1.25;
    @media (min-width: 1024px) {
        font-size: 30px
    }
    @media(min-width: 1200px) {
        font-size: 32px
    }
    @media(min-width: 1800px) {
        font-size: 36px;
    }
}

.step-counter {
    display: none;
    @media(min-width: 1024px) {
        display: inline;
        font-size: 20px;
        font-family: $font-base-light;
    }
    @media(min-width: 1200px) {
        font-size: 24px
    }
    @media(min-width: 1800px) {
        font-size: 26px;
    }
}

.forward-button {
    @include buttonsFdwRev;
}
